# binaries
server
insider_case_server
bin/
*.exe

# env
.env

# Go
*.test
*.out
vendor/

# Kubernetes
kubeconfig
kubeconfig.*
*.kubeconfig

# IDE
.vscode/
.idea/

# Python virtual environment
.venv/

# OS
.DS_Store
Thumbs.db
